* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(0deg, #a1c4fd 0%, #c2e9fb 100%);
}

button:focus {
  outline: 0;
}

.project-info-btn, .project-min-btn {
  position: absolute;
  font-size: 6vmin;
  font-weight: 800;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Montserrat', sans-serif;
}

.project-info-btn {
  bottom: -0.2em;
  left: 0.1em;
  transition: 0.2s;
  color: black;
  display: none;
  cursor: pointer;
}

.project-min-btn {
  top: -0.3em;
  right: 0.1em;
  transition: 0.2s;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

.top-left-anchor {
  font-size: 3em;
  font-weight: 800;
}

.top-left-anchor:hover {
  color: black;
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-content: flex-start;
}

.project-hero-block {
  margin: 0;
  padding: 0;
  display: inline-block;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.project-hero-block img {
  object-fit: cover;
  display: none;
  /* cursor: move; */
}

.project-plus {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #fcfbe9;
  overflow: scroll;
  /* cursor: move; */
  display: none;
}

.project-text, .project-title, .project-category {
  position: relative;
  padding: 0 5%;
  /* cursor: move; */
}

.project-title {
  margin: 0;
  margin-right: 4em;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.project-category {
  font-weight: 400;
  margin: 0;
  font-style: italic;
}

.project-text {
  margin-left: 4em;
  font-size: 0.8em;
  padding-top: 10%;
}

.project-text a {
  text-decoration: underline;
}

.project-vis {
  width: 0;
}

.btn-rotate {
  transform: rotate(45deg);
}

/* .about-me {
  position: absolute;
  top: 0;
  right: 2%;
  font-size: 1.5em;
  text-align: right;
  width: 50%;
} */

.about-me-div {
  padding: 2%;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/Web_Illustration2-01.png');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 1.5em;
  text-align: right;
}

p a {
  text-decoration: underline;
}

.cloud-animation {
  animation: cloud linear 14s infinite;
}

@keyframes cloud {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(110vw);
  }
}

.clouds {
  width: 100vw;
  height: 20%;
}

#large-cloud {
  width: 200px;
  position: absolute;
  top: 5%;
  animation-duration: 16s;
  animation-delay: -10s;
}

#small-cloud {
  width: 100px;
  position: absolute;
  top: 8%;
  animation-duration: 14s;
  animation-delay: -6s;
}

#medium-cloud {
  width: 250px;
  position: absolute;
  top: 17%;
}

@media screen and (min-width: 1150px) {
  .project-hero-block, .project-hero-block img {
    width: 20vw;
    height: 33.3vh;
  }
}

@media screen and (max-width: 1150px) {
  .project-hero-block, .project-hero-block img {
    width: 20vw;
    height: 33.3vh;
  }
}

@media screen and (max-width: 950px) {
  .project-hero-block, .project-hero-block img {
    width: 20vw;
    height: 30vh;
  }
}

@media screen and (max-width: 800px) {
  .project-hero-block, .project-hero-block img {
    width: 25vw;
    height: 25vh;
  }
  .about-me-div {
    background-position: center;
  }
}

@media screen and (max-width: 450px) {
  .project-hero-block, .project-hero-block img {
    width: 33.3vw;
    height: 20vh;
  }
  body {
    font-size: 16px;
    overflow: hidden;
  }
  .about-me-div {
    background-position: right bottom;
  }
}
