* {
  box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
  /* background-color: white; */
  margin: 0;
  height: 100vh;
  width: 100vw;
  padding: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

button:focus {
  outline: 0;
}

.project-info-btn, .project-min-btn {
  position: absolute;
  font-size: 6vmin;
  font-weight: 800;
  padding: 0;
  margin: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.project-info-btn {
  bottom: -0.2em;
  left: 0.1em;
  transition: 0.2s;
}

.project-min-btn {
  top: -0.3em;
  right: 0.1em;
  transition: 0.2s;
  /* transform: rotate(45deg); */
  /* border: 2px solid red; */
  /* font-stretch: ultra-expanded; */
}

a {
  color: inherit;
  text-decoration: none;
}

.bottom-right-anchor {
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 12vmin;
  font-weight: 800;
}

.bottom-right-anchor:hover {
  color: black;
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-content: flex-start;
}

.project-hero-block {
  /* width: 14.28vw;
  height: 30vh; */
  margin: 0;
  padding: 0;
  /* margin-right: 1vw; */
  /* margin-bottom: 1vw; */
  display: inline-block;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.project-hero-block img {
  /* width: 14.28vw;
  height: 30vh; */
  object-fit: cover;
  display: inline-block;
  cursor: move;
}

.project-plus {
  width: 100%;
  height:100%;
  position: absolute;
  left: 0;
  background-color: beige;
  overflow: scroll;
  cursor: move;
  /* margin-bottom: 5%; */
}

.project-text, .project-title, .project-category {
  position: relative;
  padding: 0 5%;
  cursor: move;
}

.project-title {
  margin: 0;
  margin-right: 4em;
  padding-top: 5%;
  padding-bottom: 3%;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.project-category {
  font-weight: 400;
  margin: 0;
  font-style: italic;
}

.project-text {
  margin-left: 4em;
  font-size: 0.8em;
  padding-top: 10%;
}

.project-text a {
  text-decoration: underline;
}

.project-vis {
  width: 0;
}

.btn-rotate {
  transform: rotate(45deg);
}

.about-me {
  font-size: 4vmin;
}

.about-me-div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  padding: 2%;
}
.project-min {
  width: 4em;
  height: 4em;
}
.vis {
  visibility: hidden;
}
@media screen and (min-width: 1150px) {
  .project-hero-block, .project-hero-block img {
    width: 14.28vw;
    height: 30vh;
  }
}
@media screen and (max-width: 1150px) {
  .project-hero-block, .project-hero-block img {
    width: 16.6vw;
    height: 30vh;
  }
}
@media screen and (max-width: 950px) {
  .project-hero-block, .project-hero-block img {
    width: 20vw;
    height: 30vh;
  }
}
@media screen and (max-width: 800px) {
  .project-hero-block, .project-hero-block img {
    width: 25vw;
    height: 25vh;
  }
}
@media screen and (max-width: 450px) {
  .project-hero-block, .project-hero-block img {
    width: 25vw;
    height: 20vh;
  }
  body {
    font-size: 8px;
    overflow: hidden;
  }
}
