<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Matilda</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:700" rel="stylesheet">
  <script type="text/javascript" src="paper-full.js"></script>
  <script type="text/paperscript" canvas="canvas">
    
        // The amount of points in the path:
        var points = 20;

        // The distance between the points:
        var length = 50;

        var path = new Path({
            strokeColor: '#004896',
            strokeWidth: 200,
            strokeCap: 'round'
        });

        var start = view.center / [2.5, 1.2];
        for (var i = 0; i < points; i++)
            path.add(start + new Point(i * length, 0));

        function onMouseMove(event) {
            path.firstSegment.point = event.point;
            for (var i = 0; i < points - 1; i++) {
                var segment = path.segments[i];
                var nextSegment = segment.next;
                var vector = segment.point - nextSegment.point;
                vector.length = length;
                nextSegment.point = segment.point - vector;
            }
            path.smooth({ type: 'continuous' });
        }

        function onMouseDown(event) {
            path.fullySelected = true;
            path.strokeColor = '#e08285';
        }

        function onMouseUp(event) {
            path.fullySelected = false;
            path.strokeColor = '#e4141b';
        }
    </script>
</head>
<body>

  <div class="main">
    <canvas id="canvas" resize></canvas>
    <div class="links">
      <a href="#">Echo</a>
      <a href="#">Banana-Haus</a>
      <a href="#">Mary Lou</a>
      <a href="#">Paperclip</a>
      <a href="#">Australian Shells</a>
      <a href="#">Textbook Otis - Otis Armada</a>
      <a href="#">Love Bites - abc iView</a>
      <a href="#">ShopData</a>
      <a href="#">Yellow Collective</a>
      <a href="#">Thesis</a>
      <a href="#">Three Of Us</a>
      <a href="#">Keating + Co</a>
      <a href="#">Total Auto</a>
      <a href="#">Tic Tac Toe</a>
      <a href="#">Bourke House</a>
    </div>
  </div>
</body>
</html>
